/****COLORES*****/
$black: #333;
$navbarBlack:#343a40;
$white: #FDFDFD;
$appleFondo: #63639c;
$appleGrey: #dddddd;
$appleFondoBox: #ccccff;
$appleButtonColor: #c5c5c5;
$appleButtonColorHover:#888888;

//$font-family: VT323-Regular,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;


/****TEXTOS-FUENTES*****/
$font-family: VT323;
$text-align: center;
$h1: 18px;



/****MARGIN-PADDING-BORDER*****/

$margin: auto;