<header class="navbar-dark bg-dark top-bar" >
   
        <div class="logo row justify-content-center">
           
           <h5 class="main-title">Proyectos</h5>
           
            <!-- Logos Programas --> 
            <img  src="assets/images/angular_logo.png" alt="angular logo" title="angular logo">
            <img  src="assets/images/javaEE_logo.png" alt="JavaEE logo" title="JavaEE logo">
            <img  src="assets/images/spring_logo.png" alt="Spring logo" title="Springlogo">

            <h5 class="main-title">|  Proyectos |</h5>
            <h5 class="main-title-project">App Login :: Angular - Java SpringSecurity - Oauth2 - JWT |</h5>
        </div>
      
  </header>
